*Hypothesis Testing*

In [47]:
import numpy as np
import scipy.stats as st
import pandas as pd

In [48]:
df=pd.read_csv(r'D:\CSEbtech(amritha)\sem5\19cse304\my application\vgsales.csv')

In [49]:
#taking into consideration of the glabal_sales attribute of the dataset
df['Global_Sales']

0        82.74
1        40.24
2        35.82
3        33.00
4        31.37
         ...
16593     0.01
16594     0.01
16595     0.01
16596     0.01
16597     0.01
Name: Global_Sales, Length: 16598, dtype: float64

In [50]:
#16598
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [51]:
df['Global_Sales'].mean()

0.53744065550074

In [52]:
df['Global_Sales'].std()

1.5550279355699022

In [53]:
#taking a sample of 9000 records
dfs=df['Global_Sales'].sample(9000)

In [54]:
dfs

5395     0.34
12873    0.05
118      6.76
14388    0.03
8870     0.15
         ...
2201     0.94
758      2.15
1355     1.42
8967     0.15
12809    0.06
Name: Global_Sales, Length: 9000, dtype: float64

In [55]:
dfs.mean()

0.554775555555567

In [56]:
dfs.std()

1.5542173356583615

*hypothesis testing example*
It is claimed that the average sales of games accross the globe is 0.53744065550074 millions. A sample of 9000 games has an average global sales of 0.554775555555567 millions. The standard deviation is 1.5542173356583615. At Î± = 0.05, is there enough evidence to reject the claim?

using Z-test(using p-value):-

In [89]:
#H0 : Î¼ = 0.5 and Ha : Î¼ != 0.5
n = 9000
xbar = 0.554775555555567
mu = 0.53744065550074
sigma = 1.5542173356583615
alpha = 0.05

In [90]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

1.05811007110039

In [91]:
p_val = (1 - st.norm.cdf(abs(z))) * 2
p_val

0.2900052634870609

In [88]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis

using t-test

In [92]:
n = 9000
degrees_of_freedom = n-1
xbar = 0.554775555555567
mu = 0.53744065550074
s = 1.5542173356583615
alpha = 0.05

In [93]:
t = (xbar - mu)/(s / np.sqrt(n))
t

1.05811007110039

In [94]:
t_critical = st.t.ppf(alpha/2, degrees_of_freedom)
t_critical

-1.9602276343797773

In [95]:
if (abs(t) > abs(t_critical)): #Absolute value taken as the it's a two-tailed test and the original t_critical value might be negative
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis